<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Fil d'actualité</a>
      <a mat-list-item routerLink="/request">Faire une requête</a>
    <a mat-list-item
         routerLink="/admin/requests"
         *ngIf="isUserAdmin"
         style="color: var(--mat-primary-600); font-weight: bold;">
          Gestion des requêtes
      </a>
      <a mat-list-item (click)="logout()">Déconnexion</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Cure D'Âme 2025</span>
    </mat-toolbar>
    <!-- Add Content Here -->
      <main class="content-area">
        <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
